{
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "no-console": "off",
        "linebreak-style": 0,
        "max-len": 0
    },
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8
      }
}
